* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-family: "Raleway", sans-serif;
}

a {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

P {
  color: #777;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 24px;
}

h3 {
  font-size: 35px;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  color: #000000;
}

.title {
  text-align: center;
}
.title p {
  margin-top: 33px !important;
  margin-bottom: 58px !important;
  width: 570px;
  margin: 0 auto;
}

/* ===================================
        nav part start
====================================== */
.header-nav {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 999;
  border-bottom: 1px solid rgba(248, 135, 22, 0.5);
}
.header-nav ul li {
  margin: 0 16px;
}
.header-nav ul li a {
  color: #fff;
  font-size: 16px;
  transition: 0.4s;
  position: relative;
}
.header-nav ul li a:hover {
  color: #fec600;
}
.header-nav ul li a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  background-color: #fec600;
  top: 143%;
  left: 0;
  transition: 0.4s;
}
.header-nav ul li a:hover::after {
  width: 100%;
}

/* ===================================
        nav part end
====================================== */
/* ===================================
        banner part start
====================================== */
#banner-part .banner {
  background-image: url("../../assets/img/Slider-Image-01.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#banner-part .banner .ovarlay {
  background-color: rgba(12, 12, 12, 0.8);
  text-align: center;
  color: #fff;
  padding: 200px 0;
}
#banner-part .banner .ovarlay .content h3 {
  font-size: 36px;
  color: #fff;
}
#banner-part .banner .ovarlay .content h1 {
  font-size: 55px;
  font-weight: 700;
  color: #fec600;
  margin-bottom: 8px;
}
#banner-part .banner .ovarlay .content p {
  width: 545px;
  color: #f1f1f1;
  margin: 0 auto;
  line-height: 24px;
  margin-bottom: 55px;
}
#banner-part .banner .ovarlay .content a {
  background-color: #fec600;
  color: #111111;
  font-size: 16px;
  display: inline-block;
  padding: 10px 25px;
  cursor: pointer;
  margin: 0 5px;
  border: 1px solid transparent;
  transition: 0.4s;
}
#banner-part .banner .ovarlay .content a:hover {
  border-color: #fff;
  background-color: transparent;
  color: #fff;
}
#banner-part .prev, #banner-part .next {
  font-size: 40px;
  opacity: 1;
}

/* ===================================
        banner part end
====================================== */
/* ===================================
        about part start
====================================== */
#about-part {
  padding: 100px 0;
  background-color: #fff;
  /* ===================================
         item-2 start
  ====================================== */
  /* ===================================
          item-2 end
  ====================================== */
  /* ===================================
          item-3 start
  ====================================== */
  /* ===================================
          item-3 end
  ====================================== */
  /* ===================================
          item-4 start
  ====================================== */
  /* ===================================
          item-4 end
  ====================================== */
}
#about-part .round {
  width: 367px;
  height: 367px;
  border: 1px solid;
  border-radius: 50%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
#about-part .round .img {
  width: 317px;
  height: 317px;
  border-radius: 50%;
  position: relative;
}
#about-part .round .img .ovarlay {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  background-color: rgba(26, 24, 24, 0.7);
  border-radius: 50%;
}
#about-part .round .img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
#about-part .item {
  margin: 50px 0;
  background-color: #eeeeee;
  padding: 40px;
  position: relative;
  text-align: center;
}
#about-part .item h4 {
  font-size: 22px;
  color: #111111;
  margin-bottom: 25px;
  font-weight: 500;
}
#about-part .item i {
  position: absolute;
  bottom: -58px;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.4s;
}
#about-part .item .shape {
  position: absolute;
  width: 40px;
  height: 40px;
  bottom: 0;
  left: 50%;
  background-color: #eeeeee;
  transform: translate(-50%, 50%) rotate(45deg);
}
#about-part .item-2 i {
  top: 74%;
  right: -74%;
  transform: translateY(-50%);
}
#about-part .item-2 .shape {
  top: 50%;
  left: 99%;
  transform: translate(-50%, -50%) rotate(45deg);
}
#about-part .item-3 i {
  top: 74%;
  left: -14%;
  transform: translateY(-50%);
}
#about-part .item-3 .shape {
  top: 50%;
  left: 0%;
  transform: translate(-50%, -50%) rotate(45deg);
}
#about-part .item-4 i {
  position: absolute;
  top: -186%;
  left: 50%;
  transform: translate(-50%, 50%);
}
#about-part .item-4 .shape {
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}
#about-part .item:hover i {
  color: #fec600;
}

/* ===================================
        about part end
====================================== */
/* ===================================
        portfolio part start
====================================== */
#portfolio-part {
  background-image: url("../../assets/img/Tauhid sajib - Fotolia_87677925_M.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-clip-path: polygon(0 9%, 100% 0, 100% 91%, 0% 100%);
          clip-path: polygon(0 9%, 100% 0, 100% 91%, 0% 100%);
}
#portfolio-part .ovarlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 100px 0;
}
#portfolio-part .ovarlay .img {
  margin-bottom: 30px;
  position: relative;
}
#portfolio-part .ovarlay .img:hover .img-ovarlay {
  height: 100%;
  opacity: 1;
}
#portfolio-part .ovarlay .img img {
  width: 100%;
  display: block;
}
#portfolio-part .ovarlay .img .img-ovarlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  left: 0;
  top: 0;
  width: 100%;
  height: 0;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s;
}
#portfolio-part .ovarlay .img .img-ovarlay a {
  width: 38px;
  height: 38px;
  background-color: #fff;
  border-radius: 50%;
  font-size: 18px;
  text-align: center;
  line-height: 38px;
  color: #000;
}
#portfolio-part .ovarlay .item:nth-child(odd) {
  display: flex;
  flex-direction: column-reverse;
}

/* ===================================
        portfolio part end
====================================== */
/* ===================================
        service part start
====================================== */
#service-part {
  padding: 100px 0;
  position: relative;
}
#service-part .line {
  background-image: url(../../assets/img/line.png);
  height: 720px;
  position: absolute;
  left: 50%;
  width: 1px;
  top: 26%;
}
#service-part .service {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
}
#service-part .service:nth-child(odd) {
  flex-direction: row-reverse;
}
#service-part .service:nth-child(odd) .title {
  justify-content: flex-start;
}
#service-part .service:nth-child(odd) .details .shape {
  left: 100%;
}
#service-part .service .title {
  width: 40%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#service-part .service .img {
  width: 10%;
  display: flex;
  align-items: center;
}
#service-part .service .img .round {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #eeeeee;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s;
}
#service-part .service .img .round img {
  width: 35px;
  height: 35px;
}
#service-part .service .details {
  width: 40%;
  background-color: #eeeeee;
  padding: 40px;
  position: relative;
}
#service-part .service .details .shape {
  position: absolute;
  content: "";
  background-color: #eee;
  width: 30px;
  height: 30px;
  left: 0%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}
#service-part i.fas.fa-arrow-up.slick-arrow {
  position: absolute;
  left: 50%;
  border: 1px solid #000;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  top: -26px;
  transform: translateX(-50%);
}
#service-part i.fas.fa-arrow-down.slick-arrow {
  position: absolute;
  left: 50%;
  border: 1px solid #000;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  bottom: -69px;
  transform: translateX(-50%);
}
#service-part .slick-center .img .round {
  transform: scale(1.2);
  background-color: #fec600;
}

/* ===================================
        service part end
====================================== */
/* ===================================
        testimonial part start
====================================== */
#testimonial-part {
  background-image: url(../../assets/img/team-banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-clip-path: polygon(0 9%, 100% 0, 100% 90%, 0% 100%);
          clip-path: polygon(0 9%, 100% 0, 100% 90%, 0% 100%);
}
#testimonial-part .ovarlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 200px 0;
}
#testimonial-part .ovarlay .img {
  margin: 10px 0;
}
#testimonial-part .ovarlay .img .round {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #f1f1f1;
  overflow: hidden;
  position: relative;
  transition: 0.4s;
  margin: 0 auto;
}
#testimonial-part .ovarlay .img .round img {
  margin-top: 20px;
}
#testimonial-part .ovarlay .img .round .img-ovarlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
}
#testimonial-part .ovarlay .slick-center .round .img-ovarlay {
  opacity: 0;
}
#testimonial-part .ovarlay .slick-center .round {
  transform: scale(1.2);
  background-color: #fec600;
}
#testimonial-part .ovarlay .line-rel {
  position: relative;
}
#testimonial-part .ovarlay .line {
  background-image: url(../../assets/img/line.png);
  width: 1px;
  height: 473px;
  position: absolute;
  left: 50%;
  top: -66px;
  transform: translateX(-50%);
}
#testimonial-part i.fas.fa-arrow-up.slick-arrow {
  position: absolute;
  left: 50%;
  border: 1px solid #fff;
  color: #fff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  top: -89px;
  transform: translateX(-50%);
}
#testimonial-part i.fas.fa-arrow-down.slick-arrow {
  position: absolute;
  left: 50%;
  border: 1px solid #fff;
  color: #fff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  bottom: -69px;
  transform: translateX(-50%);
}
#testimonial-part .details {
  width: 830px;
  position: relative;
  background-color: #f1f1f1;
  top: 50%;
  transform: translateY(-50%);
}
#testimonial-part .details .shape {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #f1f1f1;
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}
#testimonial-part .details .text {
  padding: 30px;
}
#testimonial-part .details .text h3 {
  font-size: 20px;
  color: #111111;
}
#testimonial-part .details .text h4 {
  font-size: 16px;
  color: #111111;
  margin: 10px 0;
}

/* ===================================
        testimonial part end
====================================== */
/* ===================================
        pricing part start
====================================== */
#pricing-part {
  padding: 100px 0;
}
#pricing-part .price {
  background-color: #f1f1f1;
}
#pricing-part .price h2 {
  background-color: #444;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 70px;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 78%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 78%, 0% 100%);
  color: #fff;
  transition: 0.4s;
}
#pricing-part .price .details {
  position: relative;
}
#pricing-part .price .details .round {
  position: absolute;
  width: 100px;
  height: 100px;
  border: 1px solid #444;
  border-radius: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f1f1f1;
}
#pricing-part .price .details .round .inner-round {
  position: absolute;
  width: 90px;
  height: 90px;
  background-color: #444;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s;
}
#pricing-part .price .details .round .inner-round h5 {
  font-size: 29px;
  line-height: 24px;
  color: #ffffff;
}
#pricing-part .price .details .round .inner-round h5 span {
  font-size: 20px;
}
#pricing-part .price .details .round .inner-round h6 {
  font-size: 12px;
  line-height: 24px;
  color: #ffffff;
  font-weight: 300;
  font-family: "Raleway";
}
#pricing-part .price .details ul {
  text-align: center;
  padding-top: 75px;
}
#pricing-part .price .details ul li {
  font-size: 14px;
  line-height: 40px;
  color: #444444;
  font-weight: 400;
  font-family: "Open Sans";
}
#pricing-part .price a {
  display: block;
  background-color: #444;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  -webkit-clip-path: polygon(0 25%, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 25%, 100% 0, 100% 100%, 0% 100%);
  transition: 0.4s;
}
#pricing-part .price:hover h2 {
  background-color: #fec600;
  color: #000000;
}
#pricing-part .price:hover .details .round {
  border-color: #fec600;
}
#pricing-part .price:hover .details .round .inner-round {
  background-color: #fec600;
}
#pricing-part .price:hover a {
  background-color: #fec600;
  color: #000;
}

/* ===================================
        pricing part end
====================================== */
/* ===================================
        counter part start
====================================== */
#counter-part {
  background-image: url("../../assets/img/Tauhid sajib - shutterstock_199107920.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: initial;
  -webkit-clip-path: polygon(0 25%, 100% 0, 100% 77%, 0% 100%);
          clip-path: polygon(0 25%, 100% 0, 100% 77%, 0% 100%);
}
#counter-part .ovarlay {
  background-color: rgba(12, 12, 12, 0.7);
  width: 100%;
  height: 100%;
  padding: 100px 0;
}
#counter-part .ovarlay .item {
  padding: 50px 0;
  border: 1px solid #fff;
  text-align: center;
  color: #fff;
}
#counter-part .ovarlay .alignment {
  transform: rotate(-3deg);
}

/* ===================================
        counter part end
====================================== */
/* ===================================
        team part start
====================================== */
#team-part {
  padding: 100px 0;
}
#team-part .item {
  border: 1px solid #f1f1f1;
}
#team-part .item .img {
  height: 270px;
  overflow: hidden;
  background-color: #f1f1f1;
  text-align: center;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 76%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 76%, 0% 100%);
  position: relative;
}
#team-part .item .img .ovarlay {
  position: absolute;
  width: 100%;
  height: 0;
  left: 0;
  top: 0;
  background-color: rgba(254, 198, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: 0.4s;
}
#team-part .item .img .ovarlay i {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff;
  line-height: 50px;
  text-align: center;
}
#team-part .item .img img {
  width: 100%;
}
#team-part .item .details {
  text-align: center;
}
#team-part .item .details h4 {
  font-size: 20px;
  text-align: center;
}
#team-part .item .details h6 {
  font-size: 16px;
  text-align: center;
  margin-top: 8px;
}
#team-part .item .details .icon {
  margin-top: -50px;
  transition: 0.4s;
  opacity: 0;
}
#team-part .item .details .icon i {
  width: 30px;
  height: 30px;
  line-height: 30px;
  border: 1px solid #f1f1f1;
  text-align: center;
  border-radius: 50%;
  margin: 20px 8px;
}
#team-part .item:hover .img .ovarlay {
  height: 100%;
  opacity: 1;
}
#team-part .item:hover .details .icon {
  opacity: 1;
  margin-top: 10px;
}

/* ===================================
        team part end
====================================== */
/* ===================================
        sponsor part start
====================================== */
#sponsor-part {
  padding: 80px 0;
  background-color: #f1f1f1;
  -webkit-clip-path: polygon(0 25%, 100% 0, 100% 77%, 0% 100%);
          clip-path: polygon(0 25%, 100% 0, 100% 77%, 0% 100%);
}
#sponsor-part .alignment {
  transform: rotate(-3deg);
}
#sponsor-part .sponsor {
  height: 100px;
  border: 1px solid #ddd;
  margin: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ===================================
        sponsor part end
====================================== */
/* ===================================
        footer part start
====================================== */
.footer-top-bg {
  padding: 50px 0;
  background-color: #222;
  margin-top: -66px;
  color: #fff;
}
.footer-top-bg .logo {
  text-align: center;
  border-bottom: 1px solid #fff;
  padding-bottom: 30px;
  transform: rotate(-2deg);
}
.footer-top-bg .logo img {
  transform: rotate(0deg);
}
.footer-top-bg .details {
  padding-top: 40px;
  text-align: center;
}
.footer-top-bg .details .item {
  border-right: 1px solid #fff;
}
.footer-top-bg .details .item i {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  line-height: 30px;
  text-align: center;
  background-color: #fec600;
  color: #000;
  margin-bottom: 8px;
}
.footer-top-bg .details .item p {
  width: 183px;
  font-size: 16px;
  color: #ffffff;
  margin: 0 auto;
}
.footer-top-bg .details .l-border:last-child .item {
  border-right: 0;
}
.footer-top-bg .details .social-icon {
  margin-top: 50px;
}
.footer-top-bg .details .social-icon h4 {
  font-size: 20px;
  text-align: center;
}
.footer-top-bg .details .social-icon .icon {
  margin-top: 20px;
}
.footer-top-bg .details .social-icon .icon i {
  width: 30px;
  height: 30px;
  line-height: 30px;
  background-color: #fff;
  text-align: center;
  margin: 0 10px;
  border-radius: 50%;
  color: #111111;
  transition: 0.4s;
}
.footer-top-bg .details .social-icon .icon i:hover {
  background-color: #fec600;
}

.copyright {
  text-align: center;
  background-color: #444;
  padding: 10px 0;
}
.copyright p {
  font-size: 13px;
  color: #f1f1f1;
}

/* ===================================
        footer part end
====================================== *//*# sourceMappingURL=app.css.map */